.container {
  min-height: 100vh;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.header__logo img {
  display: block;
  height: 60px;
}
.header__sources {
  display: flex;
  align-items: center;
}
.header__source {
  display: block;
  height: 30px;
  margin: 0 0 0 10px;
}

.header__source:first-child {
  margin: 0;
}

.header__source img {
  display: block;
  height: inherit;
  width: auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doc__container {
  padding-right: 3em;
  padding-left: 3em;
}

.doc__testing {
  color: white;
  font-weight: bold;
  margin-left: 7em;
  margin-right: 9em;
  width: 60vw;
  flex: 7;
}
.doc__smallTitle {
  color: limegreen;
}

.doc__flexContainer {
  display: flex;
  flex-direction: row;
}

.doc__docLinks {
  justify-self: flex-start;
  flex: 1;
  margin-left: 2em;
  font-size: 1.2em;
}
.doc__docLinks a {
  color: white;
}
.doc__docLinks a:hover {
  color: red;
  cursor: pointer;
}
.docs__linkVisited {
  color: limegreen;
}

.about__icons {
  color: limegreen;
}
.about__icons:hover {
  color: red;
}

.robertDiv {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
}
.myInput {
  right: 1000%;
  position: fixed;
}

.screenshot {
  border: 2px solid #116e14;
  border-radius: 15px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  color: white;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  color: white;
}

.code {
  background: gray;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  cursor: pointer;
}

.popOver span {
  display: block;
  /* padding: 0.75rem; */
  text-align: center;
  border-radius: 8px;
  font-size: 1.1rem;
  margin-top: 8px;
  opacity: 0;
  color: red;
  transition: opacity 0.5s ease-out;
}

.popOver:hover span {
  opacity: 1;
}

/* .description span:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  z-index: -1;
  left: 50px;
  background-color: yellow;
} */

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #9e2b28;

  max-width: 80vw;
  margin-top: 3rem;
  max-width: 100%;
  flex-wrap: wrap;
}

.card {
  margin: 2rem;
  /* flex-basis: 45%; */
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #116e14; */
  border-radius: 10px;
  border: 2px solid transparent;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.aboutus__card {
  margin: 2rem;
  /* flex-basis: 45%; */
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #116e14;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.aboutus__card a:hover {
  color: limegreen;
}

.aboutus__card:hover h2 {
  color: limegreen;
}
.aboutus__card:hover {
  border: 1px solid red;
}

.aboutus__pic {
  border-radius: 30px;
}

.card:hover {
  border: 2px solid red;
  color: #189e1d;
}

/* .card:focus,
.card:active {
  /* color: #0070f3;
  border-color: #0070f3; */ /* border-color: #9e2b28; */

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}
.btn {
  text-transform: lowercase;
}
